<nav class="navbar" style="background-color: #000;">
    <a class="navbar-brand text-white" href="#">Blog Name</a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Create</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Archives</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Contact</a>
      </li>
    </ul>
  </nav>
  